.cart {
  width: 1200px;
  margin: 50px auto;

  &__item {
    margin-bottom: 10px;
  }

  &__empty {
    text-align: center;
  }

  &__total-price {
    margin-top: 20px;

    font-weight: bold;
    text-decoration: underline;
  }
}
