.cart {
  margin-bottom: 50px;
  &__item {
    margin-bottom: 10px;

    width: 300px;
    height: 150px;
    background-color: lightslategray;
  }
  &__empty {
    text-align: center;
  }

  &__button{
    display: flex;
    margin: 50px auto;

    font-weight: bold;

    padding: 8px 20px;
    background-color: lightslategray;

    border: 1px solid grey;
    border-radius: 5px;
  }

  &__total-price {
    margin-top: 50px;

    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
}
