// .ng-valid[required],
// .ng-valid.required {
//   border-left: 5px solid #42A948;
// }

// .ng-invalid:not(form) {
//   border-left: 5px solid #a94442;
// }
.order-sheet {
  width: 475px;
  margin: 0 auto;

  &__title {
    color: lightslategray;
    text-align: center;

    margin-bottom: 50px;
  }

  &__forms {
    width: 100%;

    input {
      width: 200px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;

    margin-top: 30px;
    margin-bottom: 30px;

    padding: 5px 30px;
  }

  &__radio-group{
    display: flex;
    flex-direction: column;
  }
  button:hover {
    background-color: black;
    color: white;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .error {
    color: rgb(173, 108, 106);
    background-color: rgb(53, 29, 29);
    border: 1px solid rgb(81, 42, 48);
    padding: 5px;
  }
}