.product {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    list-style: none;
    padding-left: 0;
    
    padding-bottom: 50px;
  }

  &__elem {
    border: 2px solid lightslategray;
    border-radius: 16px;
    padding: 10px;
  }

  &__img {
    margin: 0 auto 10px;
    width: 200px;
    height: 200px;
  }

  &__name,
  &__price {
    text-align: center;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      border-radius: 10px;
      border: 1px solid dimgray;
      background-color: lightgray;

      font-weight: 900;

      display: flex;
      align-items: center;
      justify-content: center;

      margin: 5px;
      padding: 5px;
    }
  }
}