<ul class="product__list">
  <li class="product__elem" *ngFor="let product of products" (click)="openDialog(product)">
    <img class="product__img" [src]="product.img" alt="phone">
    <p class="product__name">
      {{ product.name }}
    </p>
    <p class="product__price">
      {{ getNumber(product.price) }} руб
    </p>
    <div class="product__buttons">
      <button (click)="addToCart(product, $event)">
        <span class="material-icons">
          shopping_cart
        </span>
        В Корзину
      </button>
      <button (click)="addToFavorite(product, $event)">
        <span class="material-icons">
          favorite
        </span>
      </button>
    </div>
  </li>
</ul>