<div class="dialog__content" *ngFor="let item of itemsCart" mat-dialog-content>
    <img class="dialog__img" [src]="item.img" alt="">
    <div class="dialog__container">
      <p class="dialog__name dialog__font">{{data.name}}</p>
      <div class="dialog__inner-container">
        <p class="dialog__input-text dialog__font">Кол-во:&nbsp;</p>
        <input class="dialog__input" matInput type="number" [(ngModel)]="value" min=0>
      </div>
      <div class="dialog__inner-container dialog__font">
        <p class="dialog__price-text">Сумма:</p>
        <p class="dialog__price-number">{{ getSum() }}</p>
      </div>
    </div>
  </div>

  <!-- <div class="cart">
    <div class="cart__item" *ngFor="let item of itemsCart">
        <p>{{ item.name }} : </p>
    <img class="dialog__img" [src]="item.img" alt="">
    </div>
</div> -->