<div class="dialog__content" mat-dialog-content>
  <img class="dialog__img" [src]="item.img" alt="">
  <div class="dialog__container">
    <p class="dialog__name dialog__font">{{item.name}}</p>
    <div class="dialog__inner-container">
      <p class="dialog__input-text dialog__font">Кол-во:&nbsp;</p>
      <input class="dialog__input" matInput type="number" [(ngModel)]="item.counter" min=0>
    </div>
    <div class="dialog__inner-container dialog__font">
      <p class="dialog__price-text">Сумма:</p>
      <p class="dialog__price-number">{{ item.price * item.counter }}</p>
    </div>
  </div>
</div>