.top-bar{
    background-color:lightslategray;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        padding: 10px 0;
        align-items: center;
    }
    &__container{
        display: flex;
    }
    &__link{
        margin-right: 10px;
        text-transform: uppercase;
        font-weight: bold;

        text-decoration: none;
        
        cursor: pointer;
        &:active{
            color: black;
            text-decoration: none;
        }
        &:visited{
            color: black;
            text-decoration: none;
        }
    }
    &__count{
        font-weight: bold;
    }
    &__cart{
        display: flex;
        align-items: center;
        
    }
    &__cart-container{
        display: flex;
        align-items: center;
    }
    &__like{
        display: flex;
        align-items: center;

        margin-right: 10px;
    }
    .material-icons{
        margin: 0 5px;
        cursor: pointer;
    }
}