h1{
    background-color: grey;
}

header{
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    vertical-align: middle;
    h3{
        padding: 5px 10px;
    }
    fa-icon{
        font-size: 30px;
    }
}